{% extends "joblist/base.html" %}
{% block content %}
{% load static %}
<h1>How to make a job listing</h1>
<img style = "width: 50%; height: 50%;" src="{% static 'images/job_howto.png' %}" alt="How to make a job listing">
<div class="container-text">
<p>To make a job listing, first you will need to make or sign in to an employer account, then you need to click on the "Make Listings" button in the navigation bar. This will take you to the job listing page. You can then fill out the form to create a job listing. You can also edit and delete job listings.</p>
</div>
<h1>How to make a job offer</h1>
<img style = "width: 50%; height: 50%;" src="{% static 'images/joboffer_howto.png' %}" alt="How to make a job listing">
<div class="container-text">
<p>To make a job offer, you need to click on the "Make Job Offers" button in the navigation bar. This will take you to the job offer page. You can then fill out the form to create a job offer. You can also edit and delete job offers.</p>
</div>
<h1>How to view job listings</h1>
<img style = "width: 50%; height: 50%;" src="{% static 'images/joblisting_howto.png' %}" alt="How to make a job listing">
<div class="container-text">
<p>To view job listings, you need to click on the "View Listings" button in the navigation bar. This will take you to the job listing page. You can then view the job listings.</p>
</div>
<h1>How to view job offers</h1>
<img style = "width: 50%; height: 50%;" src="{% static 'images/viewoffer_howto.png' %}" alt="How to make a job listing">
<div class="container-text">
<p>To view job offers, you need to click on the "View Job Offers" button in the navigation bar. This will take you to the job offer page. You can then view the job offers.</p>
</div>
<h1>How to make a job application</h1>
<img style = "width: 50%; height: 50%;" src="{% static 'images/viewapplication_howto.png' %}" alt="How to make a job listing">
<div class="container-text">
    <p>To make a job application, you need to click on the "View Listings" button in the navigation bar. This will take you to the job listing page. You can then click on the "Apply" button to apply for the job. You can also view the job applications.</p>
</div>

<p>Contact us <a href="https://docs.google.com/forms/d/e/1FAIpQLSeJ6hK63lKGIovrIFJzEEcAM0_yhsLDKZgWhwxQtK1Tq_Y9Lg/viewform">here</a></p>
{% endblock %}