{% extends "joblist/base.html" %}

{% block content %}
<h1>Sources</h1>
<p>Here are the sources for our information:</p>
<ul style="list-style-type: none;">
    <li><a>Birt, J. (2023, July 31). 13 Fields to Explore for Your Career. Indeed Career Guide.<br>https://www.indeed.com/career-advice/finding-a-job/careers-by-field</a></li>
    <br>
    <li><a>200+ Job Application Forms. (n.d.). Jotform. https://www.jotform.com/form-templates/human-resources/job-application</a></li>
    <br>
    <li><a>Mentors ease path to students’ first jobs. (2024). Stradaeducation.org.
        <br> https://stradaeducation.org/uncategorized/mentors-ease-path-to-students-first-jobs/</a></li>
    <br>
    <li><a>2024-25 Competitive Events Guidelines Website Coding & Development. (n.d.). Retrieved February 7, 2025, from <br> https://connect.fbla.org/headquarters/files/High%20School%20Competitive%20Events%20Resources/<br>Individual%20Guidelines/Presentation%20Events/Website-Coding-and-Development.pdf</a></li>
    <br>
    <li><a>Corrigan, S. (2023). How to Strategically Use Color in Website Design.<br> Www.flux-Academy.com. https://www.flux-academy.com/blog/how-to-strategically-use-color-in-<br>website-design</a></li>
    <br>
    <li><a>Coyier, C. (2018). A Complete Guide to Flexbox | CSS-Tricks. CSS-Tricks.<br> https://css-tricks.com/snippets/css/a-guide-to-flexbox/</a></li>
    <br>
    <li><a>How to Use Bootstrap 5 - Tutorial Republic. (2025).<br> Tutorialrepublic.com. https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-get-started.php</a></li>
    <br>
    <li><a>Torpey, E. (2020, September). Occupations that have it all: Many openings, fast growth, and high wages : <br> Career Outlook: U.S. Bureau of Labor Statistics. <br> Www.bls.gov. https://www.bls.gov/careeroutlook/2020/data-on-display/occupations-that-have-it-all.htm</a></li>
</ul>
{% endblock %}