{% extends "joblist/base.html" %}
{%block content %}
<h1> Welcome To The Website</h1>
<h2>Welcome, {{user.username}}!</h2>
<p> You are currently logged in.</p>
<p><a href = "{% url 'account_logout' %}" >Log Out</a></p>
<h3>Your role is {{user.role}}!</h3>
<h3>View Submitted Applications</h3>
<div class="application-container">
    {% for app in apps %}
    <!-- Each application displayed inline -->
    <div style="display: inline-block; margin-right: 20px; text-align: center;" class="application-box">
        <h3>{{ app.job.job_title }}</h3>
        <h1 class="application-status">{{ app.status }}</h1>
        {% if app.status == "rejected" %}
        <button onclick = "deleteapp('{{app.id}}')">Delete</button>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div style = "margin-top: 20px;">
    <h3>Mentor Information</h3>
    <br>
    {% if mentor %}
    <p>Name: {{ mentor.first_name }} {{ mentor.last_name }}</p>
    <p>Email: {{ mentor.email }}</p>
    <p>Phone: {{ mentor.phone }}</p>
    {% else %}
    <p>No mentor assigned</p>
    {% endif %}
</div>
<script>
    function deleteapp(app_id) {
        fetch(`/deleteApp/${app_id}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
                },
            body: JSON.stringify({ status: status })
        } )
        location.reload()
    }
</script>
{%endblock content%}
