{% extends "joblist/base.html" %}

{% block content %}
<h1>List of Submitted Applications</h1>
{% for job in jobs %}
<div>
    <h2>{{ job.job_title }}</h2>

    {% for key, app in apps.items %}
    {% if key == job.pk %}
    {% for apps1 in app %}
    <div class="d-flex">
        {% if apps1.status != "rejected" %}
        <h4>{{ apps1.first_name }}</h4>
        {% if apps1.status == "pending" %}
        <button style="margin-left: 200px;" onclick="viewapp('{{ job.job_title }}', '{{ apps1.first_name }}', '{{ apps1.last_name }}', '{{ apps1.gender }}', '{{ apps1.birthdate }}', '{{ apps1.phone }}', '{{ apps1.email }}', '{{ apps1.address }}', '{{ apps1.education_level }}', '{{apps1.id}}')">View Application</button>
        {% else %}
        <div><h5 class = "status_show">{{apps1.status}}</h5></div>
        {% endif %}
        {% endif %}

    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>
{% endfor %}

<div class="sidebar" id="sidebar">
    <h2>Application Details</h2>
    <h4 id="title-job"></h4>
    <p id="name"></p>
    <p id="gender">Click on job to view details</p>
    <p id="birthdate"></p>
    <p id="phone"></p>
    <p id="email"></p>
    <p id="address"></p>
    <p id="education_level"></p>
        <button onclick = "updtateAppStatus('accepted')" id = "accept-button" hidden = "hidden">Accept</button>
        <button onclick = "updtateAppStatus('rejected')" id = "reject-button" hidden = "hidden">Reject</button>
</div>

<script>
    let currentAppId = null
    function viewapp(title, first_name, last_name, gender, birthdate, phone, email, address, education_level, appId) {
        document.getElementById('title-job').innerText = title;
        document.getElementById('name').innerText = "Name: " + first_name + " " + last_name;
        document.getElementById('gender').innerText = "Gender: " + gender;
        document.getElementById('birthdate').innerText = "Birthdate: " + birthdate;
        document.getElementById('phone').innerText = "Phone: " + phone;
        document.getElementById('email').innerText = "Email: " + email;
        document.getElementById('address').innerText = "Address: " + address;
        document.getElementById('education_level').innerText = "Education Level: " + education_level;
        document.getElementById("reject-button").removeAttribute("hidden")
        document.getElementById("accept-button").removeAttribute("hidden")
        currentAppId = appId

    }
    function updtateAppStatus(status) {
        fetch(`/updateAppStatus/${currentAppId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ crsf_token }}'
                },
            body: JSON.stringify({ status: status })
        } )
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Application status updated succesfully')
            }
            else {
                alert('Failed to update application')
                console.log(data.success)
            }
            location.reload()
        })
    }
</script>
{% endblock %}